﻿<%@ Page Language="C#" MasterPageFile="~/RRReports.Master" AutoEventWireup="true" CodeBehind="Page2.aspx.cs" Inherits="Reports.Page2" Title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cph1" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cph2" runat="server">
</asp:Content>
